<div class="chat-container center">
  <header class="chat-header">
    <h1>Konsultasi</h1>
    <a href="/" class="btn btn-light">Home</a>
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3>Nama</h3>
      <h5 id="name" class="ml-3">
        <!-- Nama  -->
      </h5>
    </div>
    <div class="chat-messages">
      <!-- Isi Pesan -->
    </div>
  </main>
  <div class="chat-form-container">
    <form id="chat-form">
      <div class="row justify-content-center">
        <button
          class="m-2 btn-chat btn border-light rounded-pill col-md-2 btn-answer"
          style="color: white;"
        >
          Ya
        </button>
        <button
          class="m-2 btn-chat border btn rounded-pill col-md-2 btn-answer"
          style="color: white;"
        >
          Tidak
        </button>
      </div>
    </form>
  </div>
</div>

<script src="../js/qs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/diagnosis.js"></script>
