<!-- <div class="container center text-center">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <h1 class="diagnosa-title" style="text-transform: capitalize;">
        Konsultasi
      </h1>
      <hr />
      <div class="card">
        <form action="" method="post">
          <div class="card-header">
            <h3>PERTANYAAN</h3>
          </div>
          <div
            class="card-body"
            style="background-color: #343a40; color: white;"
          >
            <input
              type="text"
              name="g001"
              id="g001"
              value="Malam demam gak coy?"
            />
            <h4 class="question"></h4>
          </div>
          <div class="card-footer">
            <button
              type="submit"
              class="rounded-pill border btn btn-dark mr-2"
              style="width: 25%;"
            >
              Ya
            </button>
            <button
              type="submit"
              class="rounded-pill border btn btn-dark ml-2"
              style="width: 25%;"
            >
              No
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
-->

<div class="chat-container center">
  <header class="chat-header">
    <h1>Konsultasi</h1>
    <a href="/" class="btn btn-light">Home</a>
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3>Nama</h3>
      <h5 id="name" class="ml-3">Difa Al Fansha</h5>
    </div>
    <div class="chat-messages">
      <!-- Isi Pesan -->
    </div>
  </main>
  <div class="chat-form-container">
    <form id="chat-form">
      <div class="row justify-content-center">
        <button
          class="mr-2 btn-chat btn border-light rounded-pill col-md-2 btn-answer"
          style="color: white;"
        >
          Ya
        </button>
        <button
          class="ml-2 btn-chat border btn rounded-pill col-md-2 btn-answer"
          style="color: white;"
        >
          Tidak
        </button>
      </div>
    </form>
  </div>
</div>

<script src="../js/qs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/diagnosis.js"></script>
