<div
  class="container center"
  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
>
  <div class="row justify-content-center">
    <div class="col-md-7 text-center">
      <div class="font">
        <h1 id="index">SISTEM PAKAR</h1>
        <h4 class="">
          <p class="">
            Diagnosis Jenis Penyakit Malaria Menggunakan Metode Forward
            Chaining.
          </p>
        </h4>
      </div>
      <hr class="my-4" />
      <form action="diagnosa" class="mx-auto col-md-7">
        <div class="form-group">
          <input
            type="text"
            class="form-control-lg col-md-12 text-center rounded-pill"
            id="name"
            placeholder="Nama Lengkap"
            name="name"
            required
          />
        </div>
        <button type="submit" class="btn btn-dark mt-1 rounded-pill col-md-8">
          Start
        </button>
      </form>
    </div>
  </div>
</div>
